/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/* --------- adjustment --------- */
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   */
[hidden] {
  display: none; }

/**
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
template {
  display: none; }

/* Links
   ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 0.75em 0; }

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1.5em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   * 3. Remove excess padding in IE 7.
   *    Known issue: excess padding remains in IE 6.
   */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */ }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: roboto-medium;
  src: url("../fonts/roboto-medium.eot");
  src: url("../fonts/roboto-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium.woff2") format("woff2"), url("../fonts/roboto-medium.woff") format("woff"), url("../fonts/roboto-medium.ttf") format("truetype"), url("../fonts/roboto-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: roboto-light;
  src: url("../fonts/roboto-light.eot");
  src: url("../fonts/roboto-light.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light.woff2") format("woff2"), url("../fonts/roboto-light.woff") format("woff"), url("../fonts/roboto-light.ttf") format("truetype"), url("../fonts/roboto-light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: firasans-light;
  src: url("../fonts/firasans-light.eot");
  src: url("../fonts/firasans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/firasans-light.woff2") format("woff2"), url("../fonts/firasans-light.woff") format("woff"), url("../fonts/firasans-light.ttf") format("truetype"), url("../fonts/firasans-light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: SEGOEUIL;
  src: url("../fonts/SEGOEUIL.eot");
  src: url("../fonts/SEGOEUIL.eot?#iefix") format("embedded-opentype"), url("../fonts/SEGOEUIL.woff") format("woff"), url("../fonts/SEGOEUIL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: roboto-light, arial, Helvetica;
  font-weight: normal; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  background: #CFB59C; }

.wrapper {
  position: relative;
  min-height: 100%;
  min-width: 1100px; }

.page-content {
  height: 100%;
  margin-bottom: -60px;
  min-height: 765px; }
  .page-content:before, .page-content:after {
    content: "";
    display: table; }
  .page-content:after {
    clear: both; }

.container {
  font-size: 0;
  width: 960px;
  height: 670px;
  background: red;
  position: absolute;
  margin-top: -335px;
  margin-left: -480px;
  left: 50%;
  top: 50%;
  z-index: 100; }

.veiwport, .settings {
  vertical-align: top;
  height: 670px;
  display: inline-block;
  overflow: hidden;
  margin: 0; }

.veiwport {
  width: 700px;
  padding: 10px 24px 24px 24px;
  background: #605f64;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #605f64 0%, #6a6663 48%, #635457 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #605f64 0%, #6a6663 48%, #635457 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #605f64 0%, #6a6663 48%, #635457 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .veiwport .veiwport-inner {
    background-image: url("../img/Background-viewport.jpg");
    box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.6);
    height: 534px;
    position: relative; }

.veiwport-title {
  margin-bottom: 55px; }
  .veiwport-title .title {
    font-family: SEGOEUIL;
    color: #fff;
    font-size: 35px; }

.title {
  margin: 0; }

.settings {
  background: #F2F1F6;
  width: 260px;
  margin-right: -1px;
  font-size: 12px;
  padding: 21px 0; }
  .settings-title {
    text-align: center;
    margin-bottom: 29px; }
    .settings-title .title {
      color: black;
      font-size: 26px; }

.settings-wrapper {
  padding: 0 20px; }

.settings-item {
  padding-bottom: 10px;
  margin-bottom: 13px;
  border-bottom: 1px solid #F4C2C1;
  position: relative; }
  .settings-item:after {
    content: '';
    height: 13px;
    width: 13px;
    margin: 0 auto;
    position: absolute;
    left: 124px;
    bottom: -8px;
    background: #F2F1F6;
    border-radius: 90% 0 0 0;
    border-bottom: 1px solid #F4C2C1;
    border-right: 1px solid #F4C2C1;
    -moz-transform: rotate(45deg);
    /* Firefox */
    -o-transform: rotate(45deg);
    /* Opera */
    -webkit-transform: rotate(45deg);
    /* Safari y Chrome */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    /* IE */ }
  .settings-item:last-child {
    border: none; }
    .settings-item:last-child:after {
      display: none; }
  .settings-item .settings-title {
    text-align: left;
    font-size: 14px;
    height: 16px;
    margin-bottom: 10px; }

.settings-wrapper-buttons {
  padding: 0 10px;
  margin-top: 56px; }

.leftpos {
  float: right; }

.settings-button {
  width: 100px;
  padding: 9px 0;
  border-radius: 3px;
  font-size: 18px;
  border: none;
  color: #fff;
  background: #C1CFD8;
  font-family: roboto-medium; }
  .settings-button__active {
    background: #F97E77; }

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;
  text-align: center; }
  .footer-inner {
    margin-top: 25px; }
    .footer-inner .copyright {
      font-family: roboto-medium, arial, Helvetica;
      font-size: 12px;
      color: #fff;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.6); }

/* --------- sections --------- */
.input-hide {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  outline: none; }

.input-text {
  width: 180px;
  height: 27px;
  border: 1px solid #9FB2C0;
  border-right: none;
  border-radius: 3px 0 0 3px;
  padding: 5px 4px;
  background: #F2F1F6; }

.input-icon {
  cursor: pointer;
  z-index: 120;
  width: 40px;
  display: inline-block;
  height: 27px;
  background: #F97E77;
  position: absolute;
  border-radius: 0 3px 3px 0; }
  .input-icon:after {
    content: '';
    display: block;
    margin: 5px auto;
    background-image: url("../img/spritesheet.png");
    background-position: 0px -111px;
    width: 21px;
    height: 16px; }

.settings-inputs-block {
  overflow: hidden;
  position: relative;
  margin-bottom: 21px; }

.settings-position-map {
  overflow: hidden;
  height: 102px;
  width: 102px;
  position: relative;
  border: 1px solid #9FB2C0;
  border-radius: 3px; }
  .settings-position-map-list {
    font-size: 0;
    width: 104px; }

.settings-position-block {
  margin-top: 37px;
  margin-bottom: 26px; }

.settings-position-block__left,
.settings-position-block__right {
  display: inline-block;
  vertical-align: top; }

.settings-position-block__right {
  float: right; }

.settings-position-map-list__item {
  display: inline-block; }

.settings-position-control-list__item {
  margin-bottom: 12px; }
  .settings-position-control-list__item:last-child {
    margin-bottom: 0; }

.settings-position-map__label {
  height: 34px;
  width: 34px;
  cursor: pointer;
  background: #DAE1E9;
  display: inline-block;
  border-bottom: 1px solid #9FB2C0;
  border-right: 1px solid #9FB2C0; }

.input-hide:checked +
.settings-position-map__label {
  background: #F97E77; }

.position-control-title, .position-control-value, .position-control-trigger {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle; }

.position-control-value {
  border: 1px solid #9FB2C0;
  border-radius: 5px;
  text-align: center;
  height: 45px;
  width: 46px;
  font-size: 24px;
  background: none;
  outline: none;
  margin-left: 3px; }

.trigger {
  cursor: pointer;
  height: 16px;
  width: 18px;
  overflow: hidden;
  margin-bottom: 7px; }
  .trigger:last-child {
    margin-bottom: 0; }
  .trigger:before {
    content: '';
    display: block;
    margin: 2px auto;
    height: 8px;
    width: 8px;
    border-left: 1px solid #9cb2c0;
    border-top: 1px solid #9cb2c0;
    -moz-transform: rotate(45deg);
    /* Firefox */
    -o-transform: rotate(45deg);
    /* Opera */
    -webkit-transform: rotate(45deg);
    /* Safari y Chrome */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    /* IE */ }
  .trigger:hover:before {
    border-left: 1px solid #2e3641;
    border-top: 1px solid #2e3641; }
  .trigger__down:before {
    margin: 5px auto;
    border-left: none;
    border-top: none;
    border-right: 1px solid #9cb2c0;
    border-bottom: 1px solid #9cb2c0; }
  .trigger__down:hover:before {
    margin: 5px auto;
    border-left: none;
    border-top: none;
    border-right: 1px solid #2e3641;
    border-bottom: 1px solid #2e3641; }

.settings-opacity__wrap {
  position: relative;
  margin-top: 22px;
  height: 30px;
  overflow: visible; }

.settings-opacity {
  margin-bottom: 6px; }

.settings-opacity__input {
  -webkit-appearance: none;
  overflow: visible;
  width: 100%; }
  .settings-opacity__input:focus {
    outline: none; }
  .settings-opacity__input::-webkit-slider-runnable-track {
    width: 100%;
    outline: none;
    animate: 0.2s;
    height: 3px;
    cursor: pointer;
    background: #9FB2C1;
    border-radius: 2px;
    border: none; }
  .settings-opacity__input::-webkit-slider-thumb {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background: #A3B5C3;
    border: 7px solid #ecebf0;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    margin-top: -9px; }
    .settings-opacity__input::-webkit-slider-thumb:hover, .settings-opacity__input::-webkit-slider-thumb:active {
      background: #F97E77; }
  .settings-opacity__input:focus::-webkit-slider-runnable-track {
    background: #9FB2C1; }
  .settings-opacity__input::-moz-range-track {
    width: 100%;
    outline: none;
    animate: 0.2s;
    height: 3px;
    cursor: pointer;
    background: #9FB2C1;
    border-radius: 2px;
    border: none; }
  .settings-opacity__input::-moz-range-thumb {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background: #A3B5C3;
    border: 7px solid #ecebf0;
    cursor: pointer;
    outline: none;
    box-sizing: border-box; }
    .settings-opacity__input::-moz-range-thumb:hover, .settings-opacity__input::-moz-range-thumb:active {
      background: #F97E77; }
  .settings-opacity__input::-ms-track {
    z-index: 200;
    width: 100%;
    height: 3px;
    margin-top: -4px;
    padding: 12px 0;
    cursor: pointer;
    background: transparent;
    box-shadow: none;
    border-color: transparent;
    color: transparent; }
  .settings-opacity__input::-ms-fill-lower, .settings-opacity__input::-ms-fill-upper {
    background: #9FB2C1;
    border: none; }
  .settings-opacity__input::-ms-thumb {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background: #A3B5C3;
    border: 7px solid #ecebf0;
    cursor: pointer;
    outline: none;
    box-sizing: border-box; }
    .settings-opacity__input::-ms-thumb:hover, .settings-opacity__input::-ms-thumb:active {
      background: #F97E77; }
  .settings-opacity__input:focus::-ms-fill-lower {
    background: #9FB2C1; }
  .settings-opacity__input:focus::-ms-fill-upper {
    background: #F97E77; }

.left-buttons {
  position: fixed;
  left: 0;
  top: 14.4%;
  z-index: 200; }

.language {
  display: block;
  background: red;
  text-align: center;
  margin-bottom: 20px; }

.language-list__item {
  border-bottom: 1px solid #95999e; }
  .language-list__item:last-child {
    border: none; }

.language-link {
  height: 34px;
  text-transform: uppercase;
  padding-top: 1px;
  font-size: 20px;
  font-family: SEGOEUIL;
  text-decoration: none;
  color: #95999e; }
  .language-link:hover {
    color: #3b3d42; }

.social-link, .language-link {
  width: 43px;
  display: inline-block;
  overflow: hidden;
  background: #fff; }

.social-list, .language-list {
  font-size: 0;
  width: 43px; }

.social-list {
  margin-left: -43px;
  position: relative;
  -moz-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out; }
  .social-list:hover {
    margin-left: 0; }
  .social-list__item {
    display: inline-block; }

.social-link {
  height: 40px;
  font-size: 0; }
  .social-link__like {
    position: absolute;
    left: 43px;
    top: 0; }
    .social-link__like:after {
      position: absolute;
      left: 8px;
      top: 4px;
      background-image: url("../img/spritesheet.png");
      background-position: 0px 0px;
      width: 26px;
      height: 32px; }
  .social-link:after {
    content: '';
    display: block; }

.social-link__vk:after {
  background-image: url("../img/spritesheet.png");
  background-position: -74px -28px;
  width: 32px;
  height: 18px;
  margin: 13px auto; }

.social-link__vk:hover:after {
  background-image: url("../img/spritesheet.png");
  background-position: -74px 0px;
  width: 32px;
  height: 18px; }

.social-link__tw:after {
  margin: 12px auto;
  background-image: url("../img/spritesheet.png");
  background-position: 0px -42px;
  width: 28px;
  height: 22px; }

.social-link__tw:hover:after {
  background-image: url("../img/spritesheet.png");
  background-position: -36px 0px;
  width: 28px;
  height: 22px; }

.social-link__fb:after {
  margin: 9px auto;
  background-image: url("../img/spritesheet.png");
  background-position: -25px -74px;
  width: 15px;
  height: 27px; }

.social-link__fb:hover:after {
  background-image: url("../img/spritesheet.png");
  background-position: 0px -74px;
  width: 15px;
  height: 27px; }

/*# sourceMappingURL=main.css.map */
