
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: roboto-light, arial, Helvetica;
	font-weight: normal;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
	background: #CFB59C;
}
body{
	background-image: url('../img/Background-body.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.wrapper{
	position: relative;
	min-height: 100%;
	min-width: 1100px;
}
$containerHeight: 670px;
$containerWidth: 960px;
$footerHeight: 60px;

.page-content{
	@include clearfix;
	height: 100%;
	margin-bottom: -$footerHeight;
	min-height: 765px;
}
.container{
	font-size: 0;
	width: $containerWidth;
	height: $containerHeight;
	background: red;
	position: absolute;
	margin-top: -$containerHeight/2;
	margin-left: -$containerWidth/2;
	left: 50%;
	top: 50%;
	z-index: 100;
}
.veiwport, .settings{
	vertical-align: top;
	height: $containerHeight;
	display: inline-block;
	overflow: hidden;
	margin: 0;
}
.veiwport{
  width: 700px;
  padding: 10px 24px 24px 24px;
  background: #605f64; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #605f64 0%, #6a6663 48%, #635457 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #605f64 0%,#6a6663 48%,#635457 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #605f64 0%,#6a6663 48%,#635457 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.veiwport-inner{
  background-image: url('../img/Background-viewport.jpg');
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.6);
  height: 534px;
  position: relative;
}

.view-port-inner__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0;
  overflow: hidden;
}

.viewport-inner__water-mark {
  cursor: grab;
  position: absolute;
  float: left;
  font-size: 0;
  top: 0;
  left: 0;
}

.viewport-inner__main-image {
  max-width: 652px;
  max-height: 534px;
}

.veiwport-title{
	margin-bottom: 55px;
	.title{
		font-family: SEGOEUIL;
		color: #fff;
		font-size: 35px;
	}
}

.title{
	margin: 0;
}

$ColorSettings: #F2F1F6;
$BorderSettings: 1px solid #F4C2C1;

.settings{
	background: #F2F1F6;
	width: 260px;
	margin-right: -1px;
	font-size: 12px;
	padding: 21px 0;
	&-title {
		text-align: center;
		margin-bottom: 29px;
		.title {
			color: black;
			font-size: 26px;
		}
	}
}
.settings-wrapper{
	padding: 0 20px;
	position: relative;
}
$SizeTreangle: 13px;
.settings-item{
	padding-bottom: 10px;
	margin-bottom: 13px;
	border-bottom: $BorderSettings;
	position: relative;
	&:after{
		content: '';
		height: $SizeTreangle;
		width: $SizeTreangle;
		margin: 0 auto;
		position: absolute;
		left: 124px;
		bottom: -8px;
		background: #F2F1F6;
		border-radius: 90% 0 0 0;
		border-bottom: $BorderSettings;
		border-right: $BorderSettings;
		@include angle_45;
	}
	&:last-child{
		border: none;
		&:after{
			display: none;
		}
	}
	.settings-title {
		text-align: left;
		font-size: 14px;
		height: 16px;
		margin-bottom: 10px;
	}
}
.settings-wrapper-buttons{
	padding: 0 10px;
	margin-top: 56px;
}
.leftpos{
	float: right;
}
.settings-button{
	width: 100px;
	padding: 9px 0;
	border-radius: 3px;
	font-size: 18px;
	border: none;
	color: #fff;
	background: #C1CFD8;
	font-family: roboto-medium;
	&__active{
		background: #F97E77;
	}
}

.footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  height: $footerHeight;
  text-align: center;
  &-inner{
    margin-top: 25px;
    .copyright {
      font-family: roboto-medium, arial, Helvetica;
      font-size: 12px;
      color: #fff;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }
  }
}
