/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$-axis-x-name: 'Axis-x';
$-axis-x-x: 31px;
$-axis-x-y: 111px;
$-axis-x-offset-x: -31px;
$-axis-x-offset-y: -111px;
$-axis-x-width: 29px;
$-axis-x-height: 9px;
$-axis-x-total-width: 135px;
$-axis-x-total-height: 127px;
$-axis-x-image: 'spritesheet.png';
$-axis-x: (31px, 111px, -31px, -111px, 29px, 9px, 135px, 127px, 'spritesheet.png', 'Axis-x', );
$-axis-y-name: 'Axis-y';
$-axis-y-x: 116px;
$-axis-y-y: 29px;
$-axis-y-offset-x: -116px;
$-axis-y-offset-y: -29px;
$-axis-y-width: 11px;
$-axis-y-height: 30px;
$-axis-y-total-width: 135px;
$-axis-y-total-height: 127px;
$-axis-y-image: 'spritesheet.png';
$-axis-y: (116px, 29px, -116px, -29px, 11px, 30px, 135px, 127px, 'spritesheet.png', 'Axis-y', );
$-down-hover-name: 'Down-hover';
$-down-hover-x: 74px;
$-down-hover-y: 56px;
$-down-hover-offset-x: -74px;
$-down-hover-offset-y: -56px;
$-down-hover-width: 13px;
$-down-hover-height: 8px;
$-down-hover-total-width: 135px;
$-down-hover-total-height: 127px;
$-down-hover-image: 'spritesheet.png';
$-down-hover: (74px, 56px, -74px, -56px, 13px, 8px, 135px, 127px, 'spritesheet.png', 'Down-hover', );
$-down-name: 'Down';
$-down-x: 116px;
$-down-y: 87px;
$-down-offset-x: -116px;
$-down-offset-y: -87px;
$-down-width: 13px;
$-down-height: 8px;
$-down-total-width: 135px;
$-down-total-height: 127px;
$-down-image: 'spritesheet.png';
$-down: (116px, 87px, -116px, -87px, 13px, 8px, 135px, 127px, 'spritesheet.png', 'Down', );
$-download-name: 'Download';
$-download-x: 0px;
$-download-y: 111px;
$-download-offset-x: 0px;
$-download-offset-y: -111px;
$-download-width: 21px;
$-download-height: 16px;
$-download-total-width: 135px;
$-download-total-height: 127px;
$-download-image: 'spritesheet.png';
$-download: (0px, 111px, 0px, -111px, 21px, 16px, 135px, 127px, 'spritesheet.png', 'Download', );
$-mark-hover-name: 'Mark-hover';
$-mark-hover-x: 50px;
$-mark-hover-y: 74px;
$-mark-hover-offset-x: -50px;
$-mark-hover-offset-y: -74px;
$-mark-hover-width: 19px;
$-mark-hover-height: 19px;
$-mark-hover-total-width: 135px;
$-mark-hover-total-height: 127px;
$-mark-hover-image: 'spritesheet.png';
$-mark-hover: (50px, 74px, -50px, -74px, 19px, 19px, 135px, 127px, 'spritesheet.png', 'Mark-hover', );
$-mark-name: 'Mark';
$-mark-x: 38px;
$-mark-y: 42px;
$-mark-offset-x: -38px;
$-mark-offset-y: -42px;
$-mark-width: 19px;
$-mark-height: 19px;
$-mark-total-width: 135px;
$-mark-total-height: 127px;
$-mark-image: 'spritesheet.png';
$-mark: (38px, 42px, -38px, -42px, 19px, 19px, 135px, 127px, 'spritesheet.png', 'Mark', );
$-pattern-hover-name: 'Pattern-hover';
$-pattern-hover-x: 116px;
$-pattern-hover-y: 0px;
$-pattern-hover-offset-x: -116px;
$-pattern-hover-offset-y: 0px;
$-pattern-hover-width: 19px;
$-pattern-hover-height: 19px;
$-pattern-hover-total-width: 135px;
$-pattern-hover-total-height: 127px;
$-pattern-hover-image: 'spritesheet.png';
$-pattern-hover: (116px, 0px, -116px, 0px, 19px, 19px, 135px, 127px, 'spritesheet.png', 'Pattern-hover', );
$-pattern-name: 'Pattern';
$-pattern-x: 79px;
$-pattern-y: 74px;
$-pattern-offset-x: -79px;
$-pattern-offset-y: -74px;
$-pattern-width: 19px;
$-pattern-height: 19px;
$-pattern-total-width: 135px;
$-pattern-total-height: 127px;
$-pattern-image: 'spritesheet.png';
$-pattern: (79px, 74px, -79px, -74px, 19px, 19px, 135px, 127px, 'spritesheet.png', 'Pattern', );
$-up-hover-name: 'Up-hover';
$-up-hover-x: 70px;
$-up-hover-y: 111px;
$-up-hover-offset-x: -70px;
$-up-hover-offset-y: -111px;
$-up-hover-width: 13px;
$-up-hover-height: 8px;
$-up-hover-total-width: 135px;
$-up-hover-total-height: 127px;
$-up-hover-image: 'spritesheet.png';
$-up-hover: (70px, 111px, -70px, -111px, 13px, 8px, 135px, 127px, 'spritesheet.png', 'Up-hover', );
$-up-name: 'Up';
$-up-x: 116px;
$-up-y: 69px;
$-up-offset-x: -116px;
$-up-offset-y: -69px;
$-up-width: 13px;
$-up-height: 8px;
$-up-total-width: 135px;
$-up-total-height: 127px;
$-up-image: 'spritesheet.png';
$-up: (116px, 69px, -116px, -69px, 13px, 8px, 135px, 127px, 'spritesheet.png', 'Up', );
$-fb-hover-name: 'Fb-hover';
$-fb-hover-x: 0px;
$-fb-hover-y: 74px;
$-fb-hover-offset-x: 0px;
$-fb-hover-offset-y: -74px;
$-fb-hover-width: 15px;
$-fb-hover-height: 27px;
$-fb-hover-total-width: 135px;
$-fb-hover-total-height: 127px;
$-fb-hover-image: 'spritesheet.png';
$-fb-hover: (0px, 74px, 0px, -74px, 15px, 27px, 135px, 127px, 'spritesheet.png', 'Fb-hover', );
$-fb-name: 'Fb';
$-fb-x: 25px;
$-fb-y: 74px;
$-fb-offset-x: -25px;
$-fb-offset-y: -74px;
$-fb-width: 15px;
$-fb-height: 27px;
$-fb-total-width: 135px;
$-fb-total-height: 127px;
$-fb-image: 'spritesheet.png';
$-fb: (25px, 74px, -25px, -74px, 15px, 27px, 135px, 127px, 'spritesheet.png', 'Fb', );
$-like-name: 'Like';
$-like-x: 0px;
$-like-y: 0px;
$-like-offset-x: 0px;
$-like-offset-y: 0px;
$-like-width: 26px;
$-like-height: 32px;
$-like-total-width: 135px;
$-like-total-height: 127px;
$-like-image: 'spritesheet.png';
$-like: (0px, 0px, 0px, 0px, 26px, 32px, 135px, 127px, 'spritesheet.png', 'Like', );
$-tw-hover-name: 'Tw-hover';
$-tw-hover-x: 0px;
$-tw-hover-y: 42px;
$-tw-hover-offset-x: 0px;
$-tw-hover-offset-y: -42px;
$-tw-hover-width: 28px;
$-tw-hover-height: 22px;
$-tw-hover-total-width: 135px;
$-tw-hover-total-height: 127px;
$-tw-hover-image: 'spritesheet.png';
$-tw-hover: (0px, 42px, 0px, -42px, 28px, 22px, 135px, 127px, 'spritesheet.png', 'Tw-hover', );
$-tw-name: 'Tw';
$-tw-x: 36px;
$-tw-y: 0px;
$-tw-offset-x: -36px;
$-tw-offset-y: 0px;
$-tw-width: 28px;
$-tw-height: 22px;
$-tw-total-width: 135px;
$-tw-total-height: 127px;
$-tw-image: 'spritesheet.png';
$-tw: (36px, 0px, -36px, 0px, 28px, 22px, 135px, 127px, 'spritesheet.png', 'Tw', );
$-vk-hover-name: 'Vk-hover';
$-vk-hover-x: 74px;
$-vk-hover-y: 28px;
$-vk-hover-offset-x: -74px;
$-vk-hover-offset-y: -28px;
$-vk-hover-width: 32px;
$-vk-hover-height: 18px;
$-vk-hover-total-width: 135px;
$-vk-hover-total-height: 127px;
$-vk-hover-image: 'spritesheet.png';
$-vk-hover: (74px, 28px, -74px, -28px, 32px, 18px, 135px, 127px, 'spritesheet.png', 'Vk-hover', );
$-vk-name: 'Vk';
$-vk-x: 74px;
$-vk-y: 0px;
$-vk-offset-x: -74px;
$-vk-offset-y: 0px;
$-vk-width: 32px;
$-vk-height: 18px;
$-vk-total-width: 135px;
$-vk-total-height: 127px;
$-vk-image: 'spritesheet.png';
$-vk: (74px, 0px, -74px, 0px, 32px, 18px, 135px, 127px, 'spritesheet.png', 'Vk', );
$spritesheet-width: 135px;
$spritesheet-height: 127px;
$spritesheet-image: 'spritesheet.png';
$spritesheet-sprites: ($-axis-x, $-axis-y, $-down-hover, $-down, $-download, $-mark-hover, $-mark, $-pattern-hover, $-pattern, $-up-hover, $-up, $-fb-hover, $-fb, $-like, $-tw-hover, $-tw, $-vk-hover, $-vk, );
$spritesheet: (135px, 127px, 'spritesheet.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
