.settings-inputs
  .settings-wrapper
    ul.settings-inputs-list
      li.settings-inputs-list__item
        .settings-title Исходное изображение
        .settings-inputs-block
          input(type="text" name="file_back_name" readonly='' placeholder='Загрузите изображение').input-text
          ladel.input-icon
            input(type="file" name="file_back").input-hide
      li.settings-inputs-list__item
        .settings-title Водянной знак
        .settings-inputs-block
          input(type="text" name="file_mark_name" readonly='' placeholder='Загрузите изображение').input-text
          ladel.input-icon
            input(type="file" name="file_mark").input-hide