.left-buttons
  .language
    ul.language__list
      - var lang = [ 'рус', 'eng']
      each item in lang
        li.language__item
          a.language__link= item
  .socials
    ul.social__list
      -
        var socials = {
        'fb':'fb',
        'vk':'vk',
        'tw':'tw'
        };
      each value, key in socials
        li.social__item
          a(href='#' id=value).social__link= key
