.settings-position
    .settings-title Положение
    ul.settings-position-list
        li.settings-position-list__item
            .settings-position-map
                ul.settings-position-map-list
                    - for (var i = 0; i < 9; i++)
                    if i !== 1
                        li.settings-position-map-list__item
                    else
                        li.settings-position-map-list__item.settings-position-map-list__item__active
        li.settings-position-list__item
            .settings-position-control
                ul.settings-position-control-list
                    - var positions = [ 'X', 'Y']
                    each item in positions
                        li.settings-position-control-list__item
                            div(class='position-control-#{item}')
                                .position-control-title= item
                                .position-control-value
                                .position-control-trigger
                                    .trigger.trigger__up
                                    .trigger.trigger__down
                                        .asd

