.settings-opacity__wrap{
  position: relative;
  margin-top: 33px;
  height: 27px;
  overflow: visible;
  opacity: 0.5;
}


.ui-slider{
  width: 100%;
  outline: none;
  animate: 0.2s;
  height: 3px;
  cursor: pointer;
  background: $ColorRange;
  border-radius: 2px;
  border: none;
}
.ui-slider-handle {
  box-shadow: $SwadowThumb;
  height: 21px !important;
  width: 21px !important;
  border-radius: 50%;
  background: $ColorThumb !important;
  border: $BorderThumb !important;
  cursor: pointer !important;
  outline: none;
  display: inline-block;
  box-sizing: border-box;
  margin-top: -5px;
  &:hover, &:active {
    background: #F97E77 !important;;
  }
}



