.settings-position-map{
	overflow: hidden;
	height: 102px;
	width: 102px;
	position: relative;
	border: 1px solid #9FB2C0;
	border-radius: 3px;
	&-one-list{
		font-size: 0;
		width: 104px;
	}
}
.settings-position-block{
	margin-top: 37px;
	margin-bottom: 26px;
}
.settings-position-block__left,
.settings-position-block__right{
	display: inline-block;
	vertical-align: top;
}
.settings-position-block__right{
	float: right;
}
.settings-position-map-list__item{
	display: inline-block;
}
.settings-position-control-list__item{
	margin-bottom: 12px;
	&:last-child{
		margin-bottom: 0;
	}
}
.settings-position-map__label{
	height: 34px;
	width: 34px;
	cursor: pointer;
	background: #DAE1E9;
	display: inline-block;
	border-bottom: 1px solid #9FB2C0;
	border-right: 1px solid #9FB2C0;
}
.input-hide:checked +
.settings-position-map__label{
	background: #F97E77;
}
.position-control-value, .position-control-trigger{
	display: inline-block;
	font-size: 18px;
	vertical-align: middle;
	position: relative;
}

.position-control-title {
	display: inline-block;
	font-size: 18px;
	vertical-align: middle;
	position: relative;
	&:before {
		display: none;
	}
}

$BorderTrigger: 1px solid #9cb2c0;
$BorderTriggerHover: 1px solid #2e3641;
.ui-spinner-button{
	height: 20px;
	cursor: pointer;
	display: inline-block;
	&:before{
		content: '';
		display: block;
		height: 8px;
		width: 8px;
		@include angle_45;
	}
}

.ui-spinner-up{
	&:before{
		margin: 7px auto;
		border-left: $BorderTrigger;
		border-top: $BorderTrigger;
	}
	&:hover{
		&:before{
			border-left: $BorderTriggerHover;
			border-top: $BorderTriggerHover;
		}
	}
}
.ui-icon{
	display: none !important;
}

.ui-spinner-down{
	&:before{
		margin: 5px auto;
		border-left: none;
		border-top: none;
		border-right: $BorderTrigger;
		border-bottom: $BorderTrigger;
	}
	&:hover{
		&:before{
			margin: 5px auto;
			border-left: none;
			border-top: none;
			border-right: $BorderTriggerHover;
			border-bottom: $BorderTriggerHover;
		}
	}
}

.position-control-X{
	.position-control-title{
		&:before{
			top: -13px;
			@include my-sprite($-axis-x);
		}
	}
}

.position-control-Y{
	.position-control-title{
		&:before{
			bottom: -6px;
			@include my-sprite($-axis-y);
		}
	}
}

.position-control-value{
	border: 1px solid #9FB2C0;
	border-radius: 5px;
	text-align: center;
	height: 45px;
	width: 46px;
	font-size: 24px;
	background: none;
	outline: none;
	margin: 0 20px 0 3px ;
}



.settings-position-extra{
	position: absolute;
	top: -3px;
	right: 10px;
}
.settings-position-extra-list__item{
	display: inline-block;
	margin-left: 7px;
	&:first-child{
		margin-left: 0;
	}
}

.extra-item__active{
	.extra-icon-one{
		@include my-sprite($-mark-active);
	}
	.extra-icon-pattern{
		@include my-sprite($-pattern-active);
	}
}
.extra-icon{
	cursor: pointer;
	&-one{
		@include my-sprite($-mark);
		&:hover{
			@include my-sprite($-mark-hover);
		}
	}
	&-pattern{
		@include my-sprite($-pattern);
		&:hover{
			@include my-sprite($-pattern-hover);
		}
	}
}

.settings-position-map-pattern-list{
	display: none;
}
.settings-position-map-pattern-item{
	height: 100px;
	width: 100px;
	position: absolute;
	&:first-child{
		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
	}
	.settings-position-map-pattern-horizontal{
		width: 100%;
		height: 0;
		margin: auto;
		background: #F97E77;
		display: inline-block;
		vertical-align: middle;
	}
	.settings-position-map-pattern-vertical{
		width: 0;
		height: 100%;
		margin: 0 auto;
		background: #F97E77;
		display: block;
	}
}
.position-control-title__patern {
	font-size: 0;
	&:before {
		content: '';
		right: 0;
		position: absolute;
		display: block;
	}
}

.viewport-inner__water-mark-image {
  display: block;
  float: left;
}
