include _common/_mixins

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="width=1400")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet", href="/bower/normalize-css/normalize.css")
    link(rel="stylesheet" href="/css/main.css")
    title WaterMark
  body
    //блок кнопок слева
    include _common/_left-buttons

    .wrapper
      .page-content
        .container
          .veiwport
            //блок просмотра
            .veiwport-title
              h1.title.rus Генератор водяных знаков
              h1.title.eng Watermark generator
            .veiwport-inner
          .settings
            //блок настройки
            .settings-title
              h2.title.rus Настройки
              h2.title.eng Settings
            ul.settings-list
              li.settings-item
                //блок инпутов
                include _common/_inputs

              li.settings-item
                //блок ручной настройки положения марки
                include _common/_positions

              li.settings-item
                //блок настройки прозрачности марки
                include _common/_opacity

              li.settings-item
                //блок кнопок
                .settings-buttons
                  .settings-wrapper-buttons
                    button.settings-button.btn-rus Сброс
                    button.settings-button.btn-eng Reset
                    button.settings-button.leftpos.settings-button__active.btn-rus Скачать
                    button.settings-button.leftpos.settings-button__active.btn-eng Download
      footer.footer
        .footer-inner
          .copyright.rus © 2016. Это сайт LOFTprojectTEAM, пожалуйста, не копируйте и не воруйте его
          .copyright.eng © 2016. London is the capital of Great Britain
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(src='https://cdn.jsdelivr.net/g/jquery@1.11.3,jquery.goodshare.js@3.2.4')
    script(src='js/main.js')
