.settings-inputs
  .settings-wrapper
    ul.settings-inputs-list
      li.settings-inputs-list__item
        .settings-title(data-lang='["Исходное изображение", "Original image"]') Исходное изображение
        .settings-inputs-block
          input(type="text" name="file_back_name" readonly='' placeholder='Загрузите изображение' data-lang='["Загрузите изображение", "Upload image"]').input-text
          ladel.input-icon
            input(type="file" id="file_back" name="file_back").input-hide
      li.settings-inputs-list__item
        .settings-title(data-lang='["Водяной знак", "Watermark"]') Водяной знак
        .settings-inputs-block.settings-inputs-block_watermark
          input(type="text" name="file_mark_name" readonly='' placeholder='Загрузите изображение' data-lang='["Загрузите изображение", "Upload image"]').input-text
          ladel.input-icon
            input(type="file" id="file_mark" name="file_mark" disabled).input-hide.input-mark

