.left-buttons
  .language
    ul.language-list
      -
        var lang = {
        'рус':'rus',
        'eng':'eng'
        };
      each value, key in lang
        li.language-list__item
          a(href="#" class='language-link__#{value}').language-link= key
  .socials-like
    ul.social-list
      -
        var socials = {
        'fb':'fb',
        'vk':'vk',
        'tw':'tw'
        };
      each value, key in socials
        li.social-list__item
          a(href="#" class='social-link__#{key}' id="#{key}").social-link= key
      li.social-list__item
        a(href="#").social-link.social-link__like like