.settings-opacity
  .settings-wrapper
    .settings-title Прозрачность
    .settings-opacity__wrap
      .settings-opacity__wrap-item
        div(id="sliderOpacity")
        //input(type="range" min="0" max="100" value="0").settings-opacity__input