.settings-opacity
  .settings-wrapper
    .settings-title(data-lang='["Прозрачность", "Opacity"]') Прозрачность
    .settings-opacity__wrap
      .settings-opacity__wrap-item
        div(id="sliderOpacity")