.settings-opacity
  .settings-wrapper
    .settings-title(data-lang='["Прозрачность", "Opacity"]') Прозрачность
    .settings-opacity__wrap
      input(type="range" min="0" max="100" value="0").settings-opacity__input