.popup
  .popup__wrapper
    .popup__close X
    span(data-lang='["Нужно выбрать файл изображения ( JPEG, PNG )!", "You must select an image file (JPEG, PNG)!"]').popup__wrapper-text Нужно выбрать файл изображения ( JPEG, PNG )!