.input-hide{
  cursor: pointer;
  position: absolute;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.input-text{
  width: 180px;
  border: 1px solid #9FB2C0;
  border-right: none;
  border-radius: 3px 0 0 3px;
  padding: 5px 4px;
  background: #F2F1F6;
}
.input-icon{
  cursor: pointer;
  z-index: 120;
  width: 40px;
  height: 28px;
  background: #F97E77;
  position: absolute;
  border-radius: 0 3px 3px 0;
}
.settings-inputs-block{
  overflow: hidden;
  position: relative;
  margin-bottom: 19px;
}
