$size:1.4em;
$dotCount:10;
$animationTime:2.5s;

.viewport-loading, .page-loading{
  background-color: rgba(249, 126, 119, 0.57);
  overflow: hidden;
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.page-loading{
  background-color: rgba(249, 126, 119, 1);
  opacity: 1;
  z-index: 1000;
}
.page-loding-text {
  font-size: 30px;
  position: absolute;
  left: calc(48% - 0.7em);
  top: calc(73% - 4.2em);
  display: inline-block;
  color: white;
}
.loding-list{
  position: absolute;
  left: calc(50% - 0.7em);
  top: calc(50% - 4.2em);
  display: inline-block;
  text-indent:$size*2;
}
.loding-list li:after,
.loding-list:after{
  width: $size;
  height: $size;
  background-color: #fff;
  border-radius: 100%;
}
.loding-list li:after,
.loding-list:after{
  content:"";
  display: block;
}
.loding-list:after{
  position: absolute;
  top: $size*2;
  left: 0;
}
.loding-list-item{
  position: absolute;
  padding-bottom: $size*4;
  top: 0;
  left: 0;
}

// Creating Circle and Animation Delay
@for $i from 1 through 10{
  .loding-list-item:nth-child(#{$i}){
    $deg:($i - 1)*(360deg/$dotCount);
    transform: rotate($deg);
    animation-delay: $animationTime*$i/$dotCount/2;
  }
  .loding-list-item:nth-child(#{$i}):after{
    animation-delay: $animationTime*$i/$dotCount/2;
  }
}

// Animations
.loding-list-item{
  animation: dotAnimation $animationTime infinite;
}
@keyframes dotAnimation {
  0%, 55%, 100%    {
    padding: 0 0 $size*4 0;
  }
  5%,50%   {
    padding: $size*2 0;
  }
}

.loding-list-item:after{
  animation: dotAnimationTwo $animationTime infinite;
}
@-webkit-keyframes dotAnimationTwo {
  0%, 55%, 100%   {
    opacity:1;
    transform: scale(1);
  }
  5%,50%  {
    opacity: .5;
    transform: scale(0.5);
  }
}